@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,900");
[hidden] {
  display: none;
}

* {
  position: relative;
  box-sizing: border-box;
  font-family: "Playfair Display", serif, "微軟正黑體";
}

body {
  background-color: #1c1c1c;
}

a, a:hover, a:active, a:focus, a:visited {
  text-decoration: none;
}

ul {
  list-style: none !important;
  margin: 0;
  padding: 0;
}

.section {
  color: #fff;
}

.side-nav {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 768px) {
  .side-nav {
    display: none;
  }
}
.side-nav__item {
  color: #fff;
  display: inline-block;
  font-size: 18px;
  width: 160px;
  margin-top: 8px;
  margin-bottom: 8px;
  height: 20px;
  line-height: 20px;
}
.side-nav__item:hover, .side-nav__item:focus, .side-nav__item:active, .side-nav__item:visited {
  color: #fff;
}

.side-nav .active span {
  left: 32px;
}

.side-nav .active .side-nav__item:before {
  width: 100%;
}

.side-nav__item:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 0%;
  background-color: #dcb677;
  transition: all 0.3s;
}
.side-nav__item span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

@media (max-width: 960px) {
  .navbar-collapse {
    margin-right: -16px;
    margin-left: -16px;
  }
}
.navbar__logo {
  display: block;
  width: 144px;
  height: 144px;
  background: url("http://travel.wong.com.tw/img/images/logo.png") #dcb677;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80px;
  transition: all 0.3s;
}

.header--scrolling .navbar__logo {
  height: 80px;
  background-color: inherit;
  background-size: 60px;
}

@media (max-width: 960px) {
  .navbar__logo {
    height: 88px;
    background-color: transparent;
    background-size: 80px;
    float: none !important;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}
.nav__menu {
  float: left;
}

.nav__menu li {
  float: left;
}

.nav__menu .menu__item {
  display: block;
  padding: 24px;
  color: #fff;
  line-height: 32px;
  font-size: 18px;
  transition: all 0.3s;
}
.nav__menu .menu__item:hover {
  color: #dcb677;
}

.nav__icon-group {
  padding: 24px;
  line-height: 32px;
  float: left;
}

.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: corver;
  background-position: center;
  vertical-align: middle;
}

.icon-fb {
  background-image: url("http://travel.wong.com.tw/img/images/facebook1.svg");
}

.icon-ig {
  background-image: url("http://travel.wong.com.tw/img/images/ig2.svg");
}

.icon-btn {
  display: inline-block;
  vertical-align: top;
  transition: all 0.3s;
}
.icon-btn:hover {
  transform: translateY(-20%);
}

.nav__icon-group .icon-btn:last-child {
  margin: 0;
}
.nav__icon-group .icon-btn {
  margin-right: 16px;
}

.navbar__logo {
  float: left;
}

.navbar__nav {
  float: right;
}

.menu-toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 56px;
  height: 56px;
  display: inline-block;
  padding: 12px;
  padding-top: 16px;
}
.menu-toggle span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #dcb677;
  margin-bottom: 8px;
}

@media (min-width: 961px) {
  .menu-toggle {
    display: none;
  }
}
@media (max-width: 960px) {
  .popup-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c1c1c;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
  }

  #overlay:target {
    opacity: 1;
    visibility: visible;
  }

  .popup-nav .nav__menu {
    float: none;
    padding-top: 56px;
  }

  .popup-nav .nav__menu li {
    float: none;
    text-align: center;
  }

  .popup-nav .nav__item {
    padding: 16px;
  }

  .popup-nav .nav__icon-group {
    float: none;
    text-align: center;
  }

  .popup-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 56px;
    height: 56px;
    display: inline-block;
    padding: 12px;
    padding-top: 16px;
  }
  .popup-close span:nth-child(1) {
    transform: translateY(-50%) rotate(-45deg);
  }
  .popup-close span:nth-child(2) {
    transform: translateY(-50%) rotate(45deg);
  }
  .popup-close span {
    height: 3px;
    width: 32px;
    background-color: #dcb677;
    position: absolute;
    top: 50%;
  }
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.heading {
  font-size: 72px;
  color: #fff;
  margin-bottom: 48px;
}

@media (max-width: 768px) {
  .heading {
    font-size: 48px;
  }
}
.btn {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin: 0;
  padding: 8px 56px;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0;
  text-decoration: none;
  color: #dcb677;
  border: 2px solid #dcb677;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  user-select: none;
  transition: all 0.3s;
  user-drag: none;
}
.btn:hover {
  color: #fff;
  background-color: #dcb677;
}

.hero--bg-covered {
  background-image: url("http://travel.wong.com.tw/img/images/hero_bg.png");
  background-size: cover;
  background-position: center;
}
.hero--bg-covered:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #161616;
  opacity: 0.7;
}

.scrolldown-btn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #fff;
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("http://travel.wong.com.tw/img/images/arrow.svg");
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
  animation: breath 2s infinite;
}

@keyframes breath {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
.info {
  color: #fff;
}

.info__title {
  font-size: 48px;
  margin-bottom: 16px;
}

.info__subtitle {
  font-size: 40px;
  margin-bottom: 48px;
  padding-bottom: 24px;
}
.info__subtitle:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 160px;
  height: 4px;
  background-color: #dcb677;
}

.info__text {
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 8px;
}

.info__btn {
  margin-bottom: 24px;
}

@media (max-width: 768px) {
  .info {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .info__title {
    font-size: 40px;
  }

  .info__subtitle {
    font-size: 32px;
    margin-bottom: 24px;
  }

  .info__text {
    margin-bottom: 24px;
  }
}
.thumbnail {
  border: 0;
}

.thumbnail {
  color: #fff;
  background-color: #1c1c1c;
}

.thumbnail__title {
  font-size: 22px;
  color: #dcb677;
}

.thumbnail__text {
  font-size: 16px;
  line-height: 32px;
}

.thumbnail__imgbox {
  width: 100%;
  padding-top: calc(100% * 9 / 16);
  margin-bottom: 8px;
}

.thumbnail__imgbox .image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}

.contact {
  color: #fff;
  padding-top: 24px;
  padding-bottom: 24px;
}

.contact__item {
  margin-bottom: 24px;
}

.contact__label {
  color: #dcb677;
  font-size: 16px;
  margin-bottom: 8px;
}

.contact__link {
  color: #fff;
  display: inline-block;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #282828;
}

.footer__logo {
  display: block;
  width: 96px;
  height: 40px;
  background-image: url("http://travel.wong.com.tw/img/images/footer_logo.svg");
  background-position: -9px center;
  background-size: cover;
  margin-bottom: 8px;
}

.list {
  padding-top: 24px;
  padding-bottom: 24px;
}

.list__link {
  color: #fff;
  display: inline-block;
  margin-bottom: 16px;
}

.footer__icon-group {
  padding-top: 24px;
}

.footer__icon-group .icon-btn {
  margin-right: 16px;
}

.copyright {
  text-align: center;
  font-size: 14px;
  margin-top: 24px;
  color: #484848;
}

.parallax-container .image {
  width: 100%;
  display: block;
}

.parallax-container .frame {
  position: absolute;
}

.parallax-container .frame__inner {
  width: 100%;
  padding-top: 100%;
  border: 6px solid #dcb677;
}

.parallax-container-about {
  margin-top: 120px;
}

@media (max-width: 768px) {
  .parallax-container-about {
    margin-top: 0;
  }
}
.parallax-container-about .frame {
  width: 200%;
  bottom: 0;
  right: -40%;
}

.parallax-container-service {
  margin-left: -16px;
}

.parallax-container-service .frame {
  width: 50%;
  bottom: -30%;
  left: 30%;
}

.parallax-container-contact {
  margin-top: 240px;
}

@media (max-width: 768px) {
  .parallax-container-contact {
    margin-top: 48px;
  }
}
.parallax-container-contact .frame {
  width: 48%;
  top: -30%;
  left: 15%;
}

.owl-nav {
  text-align: center;
  margin-top: 24px;
}

.owl-prev, .owl-next {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #fff;
  margin: 0 16px;
  background-image: url("http://travel.wong.com.tw/img/images/arrow.svg");
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
}

.owl-prev {
  transform: rotate(90deg);
}

.owl-next {
  transform: rotate(-90deg);
}

.section__inner {
  padding-top: 80px;
  padding-bottom: 80px;
}

@media (max-width: 768px) {
  .section__inner {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}